<!DOCTYPE html>
<html>

  <head>
    <title><%= Strings.translate(:game_title) %></title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
    <script>
      <!--
      function go() {
        form = document.getElementById("game_form")
        link = 'game/' + form.x.value + '/' + form.o.value + '/' + form.size.value
        window.location.href = link
      }
      -->
    </script>
  </head>

  <body>
    <form id="game_form" method="post">
      <div id="grid"> 
        <div class="cell">
          <p><%= Strings.translate(:player_is, 'X') %></p>
          <p><input type="radio" value="HumanPlayer" name="x" checked="true" />
          <%= Strings.translate(:human_button) %>
          </p>
          <p><input type="radio" value="ComputerPlayer" name="x" />
          <%= Strings.translate(:computer_button) %>
          </p>
        </div>
        <div class="cell">
          <p><%= Strings.translate(:player_is, 'O') %></p>
          <p><input type="radio" value="HumanPlayer" name="o" checked="true" />
          <%= Strings.translate(:human_button) %>
          </p>
          <p><input type="radio" value="ComputerPlayer" name="o" checked="true" />
          <%= Strings.translate(:computer_button) %>
          </p>
        </div>
        <div class="cell">
          <p><%= Strings.translate(:board_size) %></p>
          <p><input type="radio" value="---------" name="size" checked="true" />
          <%= Strings.translate(:x3) %>
          </p>
          <p><input type="radio" value="----------------" name="size"/>
          <%= Strings.translate(:x4) %>
          </p>
        </div>
        <div class="cell">
          <p><input type="button" autofocus 
          value="<%= Strings.translate(:play) %>" onclick="go()"
          default /></p>
        </div>
    </div>
    </form>
  </body>
</html>
