<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style type="text/css">
      <!--
      body { text-align: center; font-family: Helvetica; }
      table td { border: 1px solid black;  }
      table { width: 600px; height: 600px; table-layout: fixed; }
      td { vertical-align: middle; font-size: 30pt; }
      td a { display: block;  width: 100%; height: 100%;} 
      .center { margin: auto; }

      .status { 
        font-size: 20pt; 
      }
      -->
    </style>
    <% if !next_move.nil? %>
      <meta http-equiv="refresh" content="1; URL=<%= next_move %>" />
    <% end %>
  </head>

  <body>
    <table class="center">
      <% rows.each do |row| %>
        <tr>
          <% row.each do |sq| %>
            <td>
                <% if !sq.nil? %>
                  <% if !sq[:link].nil? %>
                    <a href="<%= sq[:link] %>"> </a>
                  <% else %>
                      <%= sq[:text] %>     
                  <% end %>
                <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <% if next_turn %><p class="status"><%= next_turn %></p><% end %>
    <% if result %><p class="status"><%= result %></p><% end %>
  </body>
</html>

