<!DOCTYPE html>
<html>

  <head>
    <title>Noughts and Crosses</title>
    <script>
      <!--
        function go() {
          form = document.getElementById("game_form")
          link = '/' + form.x.value + '/' + form.o.value + '/' + form.size.value
          window.location.href = link
        }
      -->
    </script>
  </head>

  <body>
    <form id="game_form">
      <p><%= translate(:player_is, 'X') %></p>
      <p><input type="radio" value="HumanPlayer" name="x" />
      <%= translate(:human_button) %>
      </p>
      <p><input type="radio" value="ComputerPlayer" name="x" />
      <%= translate(:computer_button) %>
      </p>
      <p><%= translate(:player_is, 'O') %></p>
      <p><input type="radio" value="HumanPlayer" name="o" />
      <%= translate(:human_button) %>
      </p>
      <p><input type="radio" value="ComputerPlayer" name="o"/>
      <%= translate(:computer_button) %>
      </p>
      <p><%= translate(:board_size) %></p>
      <p><input type="radio" value="---------" name="size"/>
      <%= translate(:x3) %>
      </p>
      <p><input type="radio" value="----------------" name="size"/>
      <%= translate(:x4) %>
      </p>
      <p><input type="button" value="<%= translate(:play) %>" onclick="go()"/></p>
    </form>
  </body>
</html>
