<!DOCTYPE html> 
<html>
  <head>
    <title><%= Strings.translate(:game_title) %></title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
    <% if !next_move.nil? %>
      <meta http-equiv="refresh" content="1; URL=<%= next_move %>" />
    <% end %>
  </head>

  <body>
    <table>
      <% board.each do |row| %>
        <tr>
          <% row.each do |sq| %>
            <td>
                <% if !sq.nil? %>
                  <% if !sq[:link].nil? %>
                    <a href="game/<%= sq[:link] %>"></a>
                  <% else %>
                      <%= sq[:text] %>
                  <% end %>
                <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <% if next_turn %><p class="status"><%= next_turn %></p><% end %>
    <% if game_over %>
      <p class="status"><%= result %></p>
      <p class="status"><a href="/"><%= Strings.translate(:play_again_link) %></a></p>
    <% end %>
  </body>
</html>


